section{
    margin-bottom:30px;
    text-align:center;
    background-color:#f7f7f7;
    padding-top:30px;
    padding-bottom:30px;
}
.card{
    min-height:80%;
    margin-right:5px !important;
    height:100%;
}
.wrap{
    height:100%;
    padding-bottom:30px;
    margin-bottom:30px;
}
.titulo{
    min-width:100%;
    margin-top:20%;
    margin-bottom:auto;
    text-align:center;
}


.texto{
    min-width:100%;
    margin-top:auto;
    margin-bottom:auto;
    text-align:justify;
}
footer{
    margin-top:30px;
}
.navbar-brand img{
    width:70%;
}
.navbar-nav{
    margin-left:auto;
    margin-right:300px;
    font-family: 'Exo 2', sans-serif;
}
.carousel-item{
    max-height:500px;
}
h6{
    font-family: 'Exo 2', sans-serif;
    color:white;
    font-size:2rem;
}
