html{
    scroll-behavior:smooth;
}
body{
    background:rgba(88, 87, 91, 1);
}
section{
    margin-bottom:30px;
    text-align:center;
    background-color:rgba(181,180,186,1);
    padding-top:30px;
    padding-bottom:30px;
}

.card{
    min-height:80%;
    margin-right:auto;
    height:100%;
    margin-left:auto;
background:rgba(200, 200, 203, 1);
}
.btn-primary{
    background-color: #00a54f;
}
.wrap{
    height:100%;
    padding-bottom:30px;
    margin-bottom:30px;
}
.nav-link {
    color:white !important;
}
.active{
    color:black !important;
    background:grey;
}
.titulo{
    min-width:100%;
    margin-bottom:auto;
    text-align:center;
}

.texto{
    min-width:100%;
    text-align:justify;
}
footer{
    margin-top:30px;
}
.navbar-brand img{
    width:100%;
}
main{
margin-top:100px;
}
.scrolled img{
width:50%;
}
.scrolled{
    font-size:1rem;
}
.navbar{
    border-bottom:1px solid white;
    background: rgb(181,180,186);
background: linear-gradient(172deg, rgba(181,180,186,1) 0%, rgba(181,180,186,1) 46%, rgba(127,132,133,1) 100%);
  box-shadow: 0 1px 2px gray;
   box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navbar-nav{
    margin-left:auto;
    margin-right:300px;
    font-family: 'Exo 2', sans-serif;
    font-size:1.4rem;
}
.carousel-item{
    max-height:500px;
}
h6{
    font-family: 'Exo 2', sans-serif;
    color:white;
    font-size:2rem;
}
.fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
.header{
height:150px;
background:url('./images/sucata.jpg');
background-size: cover;
}
.parallax{
background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tit{
text-align:left;
font-size:4rem;
    font-family: 'Exo 2', sans-serif;
margin-top:150px;
color:#fff;
}
.tit h2{
display:inline;
line-height:150px;
vertical-align:middle;
}

.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}
.fa-instagram{
    color:black;
    font-size:3rem;
}
.fa-instagram:hover{
    color:white;
}
